
body{
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(hsl(221, 100%, 96%));
}
.card{
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    border-radius: 20px;
    width: 600px;
    background-color: var(hsl(0, 0%, 100%));
}
@media screen and (max-width: 375px){
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.YourResult{
    width: 35%;
    padding: 15px 20px;
    border-radius: 20px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.YourResult h2{
    color: white;
}
.yourmark{
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    box-shadow: inset 1px 1px 12px 0px hsla(256, 72%, 46%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.bold-score{
    color: white;
    font-size: 45px;
    font-weight: bold;
}
.comment{
    color: white;
    align-items: center;
}
.comment-txt{
    color: white;
    align-items: center;
}
.summary{
    width: 50%;
    padding-right: 15px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.levels{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: center;
}
.levels .row-1{
    background-color:   hsl(0, 100%, 67%,0.1);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}
.reaction{
    color: hsl(0, 100%, 67%);
    align-items: center;
}
.levels .row-2{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color:  hsl(39, 100%, 56%,0.1);
    align-items: center;
}
.memory{
    color: hsl(39, 100%, 56%);
    align-items: center;
}
.levels .row-3{
    display: flex;
    justify-content: space-between;
    background-color:   hsl(166, 100%, 37%,0.1);
    border-radius: 10px;
    align-items: center;
}
.Verbal{
    color: hsl(166, 100%, 37%);
    align-items: center;
}
.levels .row-4{
    display: flex;
    justify-content: space-between;
    background-color:   hsl(234, 85%, 45%,0.1);
    border-radius: 10px;
    align-items: center;
}
.visual{
    color: hsl(234, 85%, 45%);
    align-items: center;
}
.cont{
    background-color: hsl(224, 30%, 27%);
    align-items: center;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 30px;
}
.attribution{
    bottom: 0;
    position: fixed;
}
@media screen and (max-width: 375px) {
    .container {
      display: flex;
      flex-direction: column;
      margin:.5px auto;
      width: 100%
    }
    body {
        width: 100vw;
        height: 100vh;
    }
  }